@import 'tailwindcss';

@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/cerberus';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';


@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


/* @import '@fontsource/fira-mono'; */

@font-face {
	/* Reference name */
	font-family: 'JungleAdventurer';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('/fonts/JungleAdventurer.ttf');
}

@font-face {
	/* Reference name */
	font-family: 'RebellionSquad-ZpprZ';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('/fonts/RebellionSquad-ZpprZ.ttf');
}

@font-face {
	/* Reference name */
	font-family: 'LuckiestGuy';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('/fonts/LuckiestGuy-Regular.ttf');
}

@font-face {
	/* Reference name */
	font-family: 'SanMarinoBeach';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('/fonts/SanMarinoBeach.ttf');
}

@font-face {
	/* Reference name */
	font-family: 'NoContinue';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('/fonts/gomarice_no_continue.ttf');
}

@font-face {
	/* Reference name */
	font-family: 'BebasNeue';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('/fonts/BebasNeue-Regular.ttf');
}

@font-face {
	/* Reference name */
	font-family: 'Nunito';
	src:
		url('/fonts/nunito/Nunito-Regular.ttf'),
}

@font-face {
	/* Reference name */
	font-family: 'Nunito-Black';
	src:
		url('/fonts/nunito/Nunito-Black.ttf')
}

@font-face {
	/* Reference name */
	font-family: 'Nunito-Semibold';
	src:
		url('/fonts/nunito/Nunito-SemiBold.ttf')
}

@font-face {
	/* Reference name */
	font-family: 'Nunito-Bold';
	src:
		url('/fonts/nunito/Nunito-Bold.ttf'),

}

@font-face {
	/* Reference name */
	font-family: 'Nunito-Light';
	src:

		url('/fonts/nunito/Nunito-Light.ttf');
}

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
/* @import '@skeletonlabs/skeleton/themes/cerberus'; */

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

/* Register a Custom Themes */
/* Make sure to resolve the relative path. */
/* Note the .css extension is optional. */
@import './praxis.css';
@custom-variant dark (&:where(.dark, .dark *));


