[data-theme='praxis'] {
	--spacing: 0.25rem;
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: system-ui;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-400);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--radius-base: 0.25rem;
	--radius-container: 0.25rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	/* --color-primary-50: rgb(236 219 254);
    --color-primary-100: rgb(214 178 252);
    --color-primary-200: rgb(192 136 250);
    --color-primary-300: rgb(170 95 249);
    --color-primary-400: rgb(148 53 247);
    --color-primary-500: rgb(126 12 245);
    --color-primary-600: rgb(113 11 220);
    --color-primary-700: rgb(100 10 195);
    --color-primary-800: rgb(88 8 170);
    --color-primary-900: rgb(75 7 145);
    --color-primary-950: rgb(62 6 120); */
    --color-primary-50: oklch(84.53% 0.06 286.02deg);
	--color-primary-100: oklch(75.06% 0.12 292.12deg);
	--color-primary-200: oklch(66.15% 0.19 292.78deg);
	--color-primary-300: oklch(58.37% 0.24 290.13deg);
	--color-primary-400: oklch(52.28% 0.28 285.76deg);
	--color-primary-500: oklch(48.65% 0.3 279.02deg);
	--color-primary-600: oklch(45.08% 0.27 279.33deg);
	--color-primary-700: oklch(41.55% 0.25 279.58deg);
	--color-primary-800: oklch(37.87% 0.23 280.01deg);
	--color-primary-900: oklch(34.18% 0.21 280.42deg);
	--color-primary-950: oklch(30.27% 0.18 281.19deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: rgb(255 166 255);
    --color-secondary-100: rgb(243 133 244);
    --color-secondary-200: rgb(231 100 232);
    --color-secondary-300: rgb(220 66 221);
    --color-secondary-400: rgb(208 33 209);
    --color-secondary-500: rgb(196 0 198);
    --color-secondary-600: rgb(170 0 174);
    --color-secondary-700: rgb(144 0 150);
    --color-secondary-800: rgb(119 0 127);
    --color-secondary-900: rgb(93 0 103);
    --color-secondary-950: rgb(67 0 79);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-light);
	--color-secondary-contrast-500: var(--color-secondary-contrast-light);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	/* --color-tertiary-50: rgb(190 130 255);
    --color-tertiary-100: rgb(162 106 237);
    --color-tertiary-200: rgb(135 81 219);
    --color-tertiary-300: rgb(107 57 200);
    --color-tertiary-400: rgb(80 32 182);
    --color-tertiary-500: rgb(75 1 247);
    --color-tertiary-600: rgb(42 6 142);
    --color-tertiary-700: rgb(31 5 120);
    --color-tertiary-800: rgb(21 3 97);
    --color-tertiary-900: rgb(10 2 75);
    --color-tertiary-950: rgb(0 0 53); */
    --color-tertiary-50: rgb(236 219 254);
    --color-tertiary-100: rgb(214 178 252);
    --color-tertiary-200: rgb(192 136 250);
    --color-tertiary-300: rgb(170 95 249);
    --color-tertiary-400: rgb(148 53 247);
    --color-tertiary-500: rgb(126 12 245);
    --color-tertiary-600: rgb(113 11 220);
    --color-tertiary-700: rgb(100 10 195);
    --color-tertiary-800: rgb(88 8 170);
    --color-tertiary-900: rgb(75 7 145);
    --color-tertiary-950: rgb(62 6 120);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: rgb(255 255 240);
    --color-success-100: rgb(235 254 215);
    --color-success-200: rgb(215 253 189);
    --color-success-300: rgb(194 253 164);
    --color-success-400: rgb(174 252 138);
    --color-success-500: rgb(154 251 13);
    --color-success-600: rgb(123 226 90);
    --color-success-700: rgb(92 201 68);
    --color-success-800: rgb(62 176 45);
    --color-success-900: rgb(31 151 23);
    --color-success-950: rgb(0 126 0);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: rgb(255 243 158);
    --color-warning-100: rgb(255 218 134);
    --color-warning-200: rgb(255 193 110);
    --color-warning-300: rgb(255 167 86);
    --color-warning-400: rgb(255 142 62);
    --color-warning-500: rgb(255 117 38);
    --color-warning-600: rgb(227 94 30);
    --color-warning-700: rgb(199 70 23);
    --color-warning-800: rgb(172 47 15);
    --color-warning-900: rgb(144 23 8);
    --color-warning-950: rgb(116 0 0);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-light);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: rgb(255 164 150);
    --color-error-100: rgb(246 134 128);
    --color-error-200: rgb(237 104 106);
    --color-error-300: rgb(228 75 85);
    --color-error-400: rgb(219 45 63);
    --color-error-500: rgb(210 15 41);
    --color-error-600: rgb(184 12 33);
    --color-error-700: rgb(157 9 25);
    --color-error-800: rgb(131 6 16);
    --color-error-900: rgb(104 3 8);
    --color-error-950: rgb(78 0 0);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-light);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: rgb(253 253 253);
    --color-surface-100: rgb(225 227 229);
    --color-surface-200: rgb(198 201 205);
    --color-surface-300: rgb(170 174 180);
    --color-surface-400: rgb(143 148 156);
    --color-surface-500: rgb(115 122 132);
    --color-surface-600: rgb(95 102 112);
    --color-surface-700: rgb(75 82 92);
    --color-surface-800: rgb(55 62 72);
    --color-surface-900: rgb(35 42 52);
    --color-surface-950: rgb(15 22 32);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-light);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
